body {
  background-color: #95eff9;
}

.holder {
  width: 200px;
  height: 200px;
  border: black 2px solid;
  margin: 0 auto;

}
.col-lg-4, .col-lg-3{
  // width:201px;
}
img {
  width: 200px;
  display: none;
}
